<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin">
      <ion-col size="12" size-md="8" size-lg="6">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.ctfassets.net/s5n2t79q9icq/114xMnrR6RiLD15UxL8LYZ/ca73ec9fe59f654a150b543e05979181/Meta-Homepage.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Registrarse</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="ion-text-center">
    <h4>Ingrese sus datos aqui</h4>
  </div>
<ion-item>
  <ion-input label="Nombre de usuario" labelPlacement="floating" [(ngModel)]="registro.usuario"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Correo electronico" labelPlacement="floating"  [(ngModel)]="registro.correo" ></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="registro.password"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Fecha de nacimiento" labelPlacement="floating" type="date" [(ngModel)]="registro.fecha" ></ion-input>
</ion-item>
<ion-list style="text-align: center;">
  <ion-button class="ion-button" shape="round" (click)="registro">Registrarse</ion-button>
  <h1></h1>
  <a [routerLink]="['/login']">Iniciar Seción</a>
</ion-list>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
